*.log
# Node.js
node_modules/

# Project files
package.json
package-lock.json
tailwind.config.js
vercel.json
postcss.config.js
manifest.json
flight_data.json

# Environment file
.env
# .vercel
.vercel
