<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.ico" type="image/x-icon" sizes="any">
  <!-- <link href="../dist/styles.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="manifest" href="/manifest.json">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Air Connect - FAQ Section</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
  <style>
    .faq-toggle {
      cursor: pointer;
    }
  </style>
</head>

<body class="p-6">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/faqs" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-20 w-auto" src="/images/plane-logo.jpeg" alt="">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/get-flights" class="text-lg font-semibold leading-6 text-gray-900">Get Flights</a>
        <a href="/how-it-works" class="text-lg font-semibold leading-6 text-gray-900">How it works?</a>
        <a href="/airlines" class="text-lg font-semibold leading-6 text-gray-900">Airlines</a>
        <a href="/faqs" class="text-lg font-semibold leading-6 text-gray-900">FAQs</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-2">
        <a href="/dashboard" class="text-lg font-semibold bg-blue-500 leading-5 px-3 py-2 border border-white hover:bg-blue-600 rounded-md text-white"><%= userPassingData.username %>
          <span aria-hidden="true">&rarr;</span>
        </a>
        <form action="/logout" method="post">
          <button type="submit" class="text-lg font-semibold bg-black leading-5 px-3 py-2 border border-white hover:bg-gray-800 rounded-md text-white">Logout</button>
        </form>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-50"></div>
      <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-72 sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="/get-flights" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-16 w-auto" src="/images/plane-logo.jpeg" alt="">
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="/get-flights" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Get
                Flights</a>
              <a href="/how-it-works" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">How
                it works?</a>
              <a href="/airlines" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Airlines</a>
              <a href="/faqs" class="block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">FAQs</a>
            </div>
            <div class="py-6">
              <a href="/dashboard" class="text-lg font-semibold bg-blue-500 leading-5 px-3 py-2 border border-white hover:bg-blue-600 rounded-md text-white mb-2 lg:mb-0"><%= userPassingData.username %>
                <span aria-hidden="true">&rarr;</span>
              </a>
              <form action="/logout" method="post">
                <button type="submit" class="text-lg font-semibold bg-black leading-5 px-3 py-2 border border-white hover:bg-gray-800 rounded-md text-white mb-2 lg:mb-0">Logout</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg mt-28">
    <h2 class="text-2xl font-bold mb-4 text-blue-500">Frequently Asked Questions</h2>
    <div class="faq-item mb-4">
      <div class="faq-toggle flex justify-between items-center p-4 bg-gray-100 rounded-lg">
        <span class="font-semibold">How does our platform determine the best travel routes?</span>
        <span class="toggle-icon font-extrabold">+</span>
      </div>
      <div class="faq-content hidden p-4">
        <p>Our platform analyzes data from various Indian airports to provide the most efficient travel routes.
          We use real-time data and sophisticated algorithms to ensure that you get the best travel times and
          costs.</p>
      </div>
    </div>
    <div class="faq-item mb-4">
      <div class="faq-toggle flex justify-between items-center p-4 bg-gray-100 rounded-lg">
        <span class="font-semibold">What is Dijkstra's algorithm and how does it work?</span>
        <span class="toggle-icon font-extrabold">+</span>
      </div>
      <div class="faq-content hidden p-4">
        <p>Dijkstra's algorithm is used to find the shortest path between nodes in a graph. On our platform, it
          calculates the minimum travel time and cost between airports, considering both direct and indirect
          routes.</p>
      </div>
    </div>
    <div class="faq-item mb-4">
      <div class="faq-toggle flex justify-between items-center p-4 bg-gray-100 rounded-lg">
        <span class="font-semibold">How do we handle indirect flights?</span>
        <span class="toggle-icon font-extrabold">+</span>
      </div>
      <div class="faq-content hidden p-4">
        <p>If there is no direct flight between your source and destination, our platform will find the best
          route through intermediate airports, ensuring seamless travel planning.</p>
      </div>
    </div>
    <div class="faq-item mb-4">
      <div class="faq-toggle flex justify-between items-center p-4 bg-gray-100 rounded-lg">
        <span class="font-semibold">Can I see the travel cost and time for each route?</span>
        <span class="toggle-icon font-extrabold">+</span>
      </div>
      <div class="faq-content hidden p-4">
        <p>Yes, our platform provides detailed information on the travel cost and time for each route, allowing
          you to choose the most efficient and cost-effective option.</p>
      </div>
    </div>
  </div>

  <script>
    const mobileMenuButton = document.querySelector('button[type="button"]');
    const mobileMenu = document.querySelector('.lg\\:hidden[role="dialog"]');
    const closeMenuButton = mobileMenu.querySelector('button[type="button"]');
    // Toggle the visibility of the mobile menu
    function toggleMenu() {
      mobileMenu.classList.toggle('hidden');
    }
    // Add event listeners
    mobileMenuButton.addEventListener('click', toggleMenu);
    closeMenuButton.addEventListener('click', toggleMenu);

    // FAQs toggle working
    document.querySelectorAll('.faq-toggle').forEach(toggle => {
      toggle.addEventListener('click', () => {
        const content = toggle.nextElementSibling;
        content.classList.toggle('hidden');
        const icon = toggle.querySelector('.toggle-icon');
        icon.textContent = content.classList.contains('hidden') ? '+' : '-';
      });
    });
  </script>
</body>

</html>